
<%- include("header") -%>
    <div class="box" id="heading">

      <h1>Its <%= day_type %> list!!</h1>
    </div>

    <div class="box">
      
      <% for (var i = 0; i< todo.length; i++) { %>
        <form action="/delete" method="post">
          <div class="item">
            <input type="checkbox" name = "check" value="<%= todo[i]._id %>" onchange="this.form.submit()">
            <p> <%=  todo[i].item %> </p>
          </div>
          <input type="hidden" name="listName" value="<%= day_type %>"></input>
        </form>
          <% } %>
          <form class="item" action="/" method="post">
            <input type="text" name="todo" placeholder="Enter next todo" autocomplete="off">
            <button type="submit" name="list" value="<%= day_type %>">+</button>
          </form>
        </div>

        <%- include("footer") -%>
  
